# Audit Project Code

In [1]:
import pandas as pd 
employees_df = pd.read_csv('data/employees.csv')
employees_df.head()

,employee_number,first_name,last_name,email,title
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager

In [2]:
system_access_df = pd.read_csv('data/system_access.csv')
system_access_df.head()

     id    access_level
0  3045  Contract Entry
1  3051  Contract Entry
2  3068  Contract Entry
3  3097   Account Admin
4  3133  Contract Entry

In [3]:
system_access_df['id'] = 'EMP' + system_access_df['id'].astype(str).str.zfill(6)
system_access_df

            id    access_level
0    EMP003045  Contract Entry
1    EMP003051  Contract Entry
2    EMP003068  Contract Entry
3    EMP003097   Account Admin
4    EMP003133  Contract Entry
..         ...             ...
833  EMP024862  Contract Entry
834  EMP024864  Contract Entry
835  EMP024885   Account Admin
836  EMP024890  Contract Entry
837  EMP024896   Account Admin

[838 rows x 2 columns]

In [4]:
system_access_df.rename(columns={'id':'employee_number'}, inplace=True)

employees_df.set_index('employee_number', inplace=True)

system_access_df.set_index('employee_number', inplace=True)
df = employees_df.join(system_access_df , how = 'left')
df.head()

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin

In [5]:
subset_df=df.loc[df['access_level'].isnull()]
subset_df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Account Manager,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003713,Marybeth,Driussi,marybeth.driussi@consultants.com,Account Manager,NaN
...,...,...,...,...,...
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,NaN
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,NaN

In [6]:
df.loc[df['title']=='Director of Sales']

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003921,Sigfried,McTear,sigfried.mctear@consultants.com,Director of Sales,NaN
EMP003952,Shandee,Apfler,shandee.apfler@consultants.com,Director of Sales,Approval - Manager
...,...,...,...,...,...
EMP023935,Ulrikaumeko,Plumridege,ulrikaumeko.plumridege@consultants.com,Director of Sales,NaN
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024596,Munroe,Shovel,munroe.shovel@consultants.com,Director of Sales,Approval - Manager
EMP024740,Ebenezer,Worsnap,ebenezer.worsnap@consultants.com,Director of Sales,Approval - Manager

In [7]:
subset_df.loc[subset_df['title'] == 'Account Manager', 'access_level'] = 'Account Admin'
subset_df.tail()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-7-671a4977fc33>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.loc[subset_df['title'] == 'Account Manager', 'access_level'] = 'Account Admin'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [8]:
subset_df.loc[subset_df['title'] == 'Sales Assistant', 'access_level'] = 'Contract Entry'
subset_df.tail()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-8-7554ec839825>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.loc[subset_df['title'] == 'Sales Assistant', 'access_level'] = 'Contract Entry'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,Contract Entry
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [9]:
subset_df.loc[subset_df['title'] == 'Director of Sales', 'access_level'] = 'Approval - Manager'
subset_df.tail()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-9-80a98a275d41>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.loc[subset_df['title'] == 'Director of Sales', 'access_level'] = 'Approval - Manager'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,Approval - Manager
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,Approval - Manager
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,Contract Entry
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [10]:
subset_df.to_csv('results.csv')