# Audit Project Code

In [4]:
import pandas as pd 
employees_df = pd.read_csv('data/employees.csv')
employees_df.head()

,employee_number,first_name,last_name,email,title
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager

In [5]:
system_access_df = pd.read_csv('data/system_access.csv')
system_access_df.head()

     id    access_level
0  3045  Contract Entry
1  3051  Contract Entry
2  3068  Contract Entry
3  3097   Account Admin
4  3133  Contract Entry

In [9]:
system_access_df.rename(columns={'id':'employee_number'}, inplace=True)

employees_df.set_index('employee_number', inplace=True)

employees_df= employees_df.set_index('employee_number')

df = employees_df.join(system_access_df, how='left')
df.head()

KeyError: "None of ['employee_number'] are in the columns"